
.partnrtitle{
    color: #00adef;
    font-size: .875em;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 4.2px;
}

.required{
    color:orangered;
}

.para2{
    line-height: 16px;
    margin-bottom: 5px;
}

.head2{
    color: black;
    font-size: 13px;
}


// @media only screen and (max-width: 600px) {
//     .headings {
//         font-size: 24px !important;
//     }

//     .main-btn.small-size {
//         padding: 9px 9px;
//         font-size: 12px;
//     }
//   }
