

<!--====== Back to top start ======-->
  <div class="back-to-top">
    <a href="#"> <i class="fas fa-arrow-up"></i> </a>
</div>
<!--====== Back to top start ======-->



 <!--====== Footer PART START ======-->
 <footer class="footer-area">
  <div class="container">
      <div class="row footer-widgets">
          <div class="col-lg-4 col-md-6 col-md-7">
              <div class="widget about-widget contact-widget">
                  <!-- <div class="logo">
                      <a [routerLink]="['/']">  <img src="assets/img/logo-footer.png" alt="">  </a>
                  </div> -->
                  <p> ADM creates custom solutions using cutting-edge Blockchain technology. We get Blockchain working for you. </p>
                  <div class="sicon">
                    <ul>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 ">
              <div class="widget nav-widget">
                  <h4 class="widget-title"> IMPORTANT LINKS </h4>
                  <div class="footer-list">
                      <ul>
                          <li><a [routerLink]="['/aboutus']"><i class="fal fa-angle-right"></i> About Us </a></li>
                          <li><a [routerLink]="['/products-solutions']"><i class="fal fa-angle-right"></i> Services </a></li>
                          <li><a [routerLink]="['/our-expertise']"><i class="fal fa-angle-right"></i> Our Expertise  </a></li>
                          <!-- <li><a [routerLink]="['/partners']"><i class="fal fa-angle-right"></i> Partners  </a></li> -->
                          <li><a [routerLink]="['/contact']"><i class="fal fa-angle-right"></i> Contact Us  </a></li>
                      </ul>

                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-md-6">
              <div class="widget contact-widget">
                  <h4 class="widget-title"> CONTACT US </h4>
                <p><span style="text-decoration: underline;">USA</span> :-</p>
              <p style="font-size: 13px;    margin-top: 0px;">Retails Sols Inc.<br>
                1001 Bayhill Dr, 2nd Floor, San Bruno, CA - 94066, USA</p>
                <p><span style="text-decoration: underline;">INDIA</span> :-</p>
                <p style="font-size: 13px;    margin-top: 0px;">

                  Plot No 9/1, D No 1-140/9/1/D/NR, <br> Golden Heights, Sector-III, HUDA Techno Enclave,<br> Backside
                              Lemon Tree Hotel,HITEC City,<br>Hyderabad,Telangana, India- 500081.
                </p>

              </div>
          </div>
      </div>
      <div class="footer-copyright">
          <p> All Rights reserved by  <a href="#">Retailsols.com </a> </p>
      </div>
  </div>
</footer>
<!--====== Footer PART ENDS ======-->
