
    <!--====== Page Title start ======-->
    <section class="page-title-area">
        <div class="container-fluid container-1470">
            <h2 class="title">About Us</h2>
            <ul class="breadcrumb-nav" style="color: #ffffff;">
                <li  style="color: #ffffff;"><a [routerLink]="['/']" style="color: #000000;">Home</a></li>
                <li class="active"  style="color: #ffffff;">About</li>
            </ul>
        </div>
    </section>
    <!--====== Page Title End ======-->




      <!--====== Experience Area Start ======-->
      <section class="experience-section section-gap">
        <div class="container-fluid container-1470">
          <div class="welcome-area area-padding">
            <div class="container">
                <div class="row d-none">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="all-wel-services">
                    	    <!-- single-well end-->
						    <div class="well-services wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
								<div class="services-img">
									<a class="big-icon" href="#"><i class="flaticon-052-project-plan"></i></a>
								</div>
								<div class="main-wel">
									<div class="wel-content">
										<h4>Innovation idea</h4>
										<p>Aspernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit amet consectetu.</p>
										<a href="#">Read more</a>
									</div>
								</div>
							</div>
						    <!-- single-well end-->
							<div class="well-services wow fadeInUp" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
								<div class="services-img">
									<a class="big-icon" href="#"><i class="flaticon-002-analysis"></i></a>
								</div>
								<div class="main-wel">
									<div class="wel-content">
										<h4>Market research</h4>
										<p>Aspernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit amet consectetu.</p>
										<a href="#">Read more</a>
									</div>
								</div>
							</div>
							<!-- single-well end-->
							<div class="well-services wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
								<div class="services-img">
									<a class="big-icon" href="#"><i class="flaticon-060-team-work"></i></a>
								</div>
								<div class="main-wel">
									<div class="wel-content">
										<h4>Creative team</h4>
										<p>Aspernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit amet consectetu.</p>
										<a href="#">Read more</a>
									</div>
								</div>
							</div>
							<!-- single-well end-->
						</div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                <!-- <div class="col-lg-5 col-md-8 wow fadeInLeft" data-wow-delay="0.3s">
                    <div class="section-title with-right-border mb-md-gap-30">
                        <span class="title-tag">25 Years Of Experience</span>
                        <h2 class="title">Not only explore for job done.</h2>
                    </div>
                </div> -->
                <div class="col-lg-12 wow fadeInRight" data-wow-delay="0.3s">
                    <div class="experience-text">
                        <p class="fs-16 text-color-2">
                          Retail continues to change at a dramatic pace, with customers leading the charge faster than
retailers; seeking more personal and faster experience at every point of shopping and purchase.
Better informed and super connected, these new digital customers are fully engaged across all the
channels – from smartphone, PC, store, tablet, social networking and more – to find and buy what
they want.
                          </p>
<br>
                          <p class="fs-16 text-color-2">
                            Oracle Retail empowers retailers to address challenges through innovative and integrated
                            technologies. Deliver on your brand promise and drive profitable growth through seamless cross-
                            channel experiences. Engage your customers through a powerful platform that enables you to meet
                            business objectives and stay attuned to customer needs.
                            </p>
                            <br>
                            <p class="fs-16 text-color-2">
                              Retail Sols combines technical expertise with industry best practices to deliver business
                              solutions and maximize Return on Investment (ROI) for your Oracle Retail Suite. We have serviced
                              retailers across the spectrum – from apparel and fashion to grocery and department stores among
                              others. This places us in a unique position to implement solutions across the scale for medium to
                              large retailers.
                              </p>
                              <br>
                              <p class="fs-16 text-color-2">
                                Our range of services also includes customization, Quality Assurance, product enhancement
                                and application maintenance and support. Artifacts, accelerators and tools developed over the years
                                enable us to execute modular, fast, cost-effective and nimble implementations
                                </p>

                                <br>
                              <p class="fs-16 text-color-2">
                                Retail Sols is one of the leading specialist in retail systems with over a Decade of Experience,
we’ve grown significantly year-on-year to become one of the leading specialist in retail solutions
provider. We consistently strive to create a fantastic shopping experience and to increase sales for
our clients, with a profound Technology Experts, our teams are strategic advisors, problem solvers
and proactive partners who examine a project from many perspectives and leverage their industry
expertise to offer the best solution. Post-implementation, we enable and support your team to
ensure a smooth deployment and use agility to ensure successful delivery which helps to reach
valued clients with individual and wide-ranging improvements in corporate performance which led
to join hands with established brands across all segments of the retail industry who are ready to
embrace their potential.
                                </p>
                                <br>
                                <p class="fs-16 text-color-2">
                                  Every aspect of retail is touched by technology, from supply chain to in-store operations to customer
                                  touch points.
                                  </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-50">
                <div class="col-lg-4 col-md-6 col-sm-8 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="feature-box mt-30">
                        <img src="assets/img/feature-1.jpg" alt="">
                        <div class="feature-overlay">
                            <div class="content">
                                <h5 class="title">Design & Development</h5>
                                <p>The functional goal of technical content is to help people use a product.</p>
                                <a href="#">Read More</a>
                                <i class="fal fa-laptop-code"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="feature-box mt-30">
                        <img src="assets/img/feature-2.jpg" alt="">
                        <div class="feature-overlay">
                            <div class="content">
                                <h5 class="title">Technical Support</h5>
                                <p>The functional goal of technical content is to help people use a product.</p>
                                <a href="#">Read More</a>
                                <i class="fal fa-headphones-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="feature-box mt-30">
                        <img src="assets/img/feature-3.jpg" alt="">
                        <div class="feature-overlay">
                            <div class="content">
                                <h5 class="title">Digital Marketing</h5>
                                <p>The functional goal of technical content is to help people use a product.</p>
                                <a href="#">Read More</a>
                                <i class="fal fa-analytics"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--====== Experience Area End ======-->


