 
     <!--====== Page Title start ======-->
     <section class="page-title-area">
        <div class="container-fluid container-1470">
            <h2 class="title"> Custom Solutions </h2>
            <ul class="breadcrumb-nav">
                <li><a [routerLink]="['/']">Home</a></li>
                <li class="active">About</li>
            </ul>
        </div>
    </section>
    <!--====== Page Title End ======-->

 
    <section class="service-section section-gap">
        <div class="container">
            <div class="section-title text-center mb-30">
                <span class="title-tag"> Custom Solutions  </span>
                <h2 class="title"> Build Your Own br <span class="bcolor"> Blockchain </span> </h2>
            </div>
            <div class="row service-items">
                <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp"  data-wow-delay="0.3s">
                    <div class="service-item color-2 text-center mt-30">
                        <div class="icon">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </div>
                        <h5 class="title"><a [routerLink]="['/routePath']"> DISCOVERY </a></h5>
                        <p> Talk to us. We get to know your <br> needs and you get to know <br> our experience and <br> expertise. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp"  data-wow-delay="0.5s">
                    <div class="service-item color-1 text-center mt-30">
                        <div class="icon">
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                        </div>
                        <h5 class="title"><a [routerLink]="['/routePath']"> PLANNING </a></h5>
                        <p> Our experts review your needs and propose various solutions on Blockchain use scenarios for your organization. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp"  data-wow-delay="0.7s">
                    <div class="service-item color-3 text-center mt-30">
                        <div class="icon">
                            <i class="fa fa-user-chart" aria-hidden="true"></i>
                        </div>
                        <h5 class="title"><a [routerLink]="['/routePath']"> DEVELOPMENT </a></h5>
                        <p> Our team then works closely with your organization and builds the required apps, smart contracts and functionality. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp"  data-wow-delay="0.9s">
                    <div class="service-item color-4 text-center mt-30">
                        <div class="icon">
                            <i class="fa fa-spinner"></i>
                        </div>
                        <h5 class="title"><a [routerLink]="['/routePath']"> QUICK LAUNCH </a></h5>
                        <p> Our ready-to-go BaaS (Blockchain as a service) platform – allows us to quickly launch your blockchain solution.  </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!--====== What We Do Start ======-->
<section class="service-section section-gap soft-blue-bg">
    <div class="container">
        <div class="section-title text-center mb-30">
            <span class="title-tag"> What We Do </span>
            <h2 class="title"> Our Products & Solutions </h2>
        </div>
        <div class="row service-items">
            <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp"  data-wow-delay="0.3s">
                <div class="service-item color-2 text-center mt-30">
                    <div class="icon">
                        <i class="fal fa-file-alt"></i>
                    </div>
                    <h5 class="title"><a [routerLink]="['/certificates-blockcats']"> Certificates by BlockCats </a></h5>
                    <p> The fastest way to get started on Blockchain. Increase TRUST in the authenticity of the... </p>

                    <div class="rbtn mt-5"> <a  [routerLink]="['/certificates-blockcats']">  Read More <i class="fal fa-long-arrow-right"></i> </a> </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp"  data-wow-delay="0.5s">
                <div class="service-item color-1 text-center mt-30">
                    <div class="icon">
                        <i class="fal fa-user-cog"></i>
                    </div>
                    <h5 class="title"><a  [routerLink]="['/blockchain-service']"> Blockchain as a Service (BaaS) </a></h5>
                    <p> Enterprise Ready – Scalable, Secure, and Tested Platform for Rapid Prototyping and easy... </p>
                    <div class="rbtn mt-5"> <a  [routerLink]="['/blockchain-service']">  Read More <i class="fal fa-long-arrow-right"></i> </a> </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp"  data-wow-delay="0.7s">
                <div class="service-item color-3 text-center mt-30">
                    <div class="icon">
                        <i class="fa fa-wrench"></i>
                    </div>
                    <h5 class="title"><a [routerLink]="['/custom-solutions']"> Custom Solutions </a></h5>
                    <p> Talk to us. We get to know your needs and you get to know our experience and expertise... </p>
                    <div class="rbtn mt-5"> <a [routerLink]="['/custom-solutions']">  Read More <i class="fal fa-long-arrow-right"></i> </a> </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== What We Do Section End ======-->
