
<!--====== Page Title start ======-->
<section class="page-title-area">
<div class="container-fluid container-1470">
<h2 class="title"> BLOCKCHAIN CERTIFICATES </h2>
<ul class="breadcrumb-nav">
<li><a [routerLink]="['/']">Home</a></li>
<li class="active">About</li>
</ul>
</div>
</section>
<!--====== Page Title End ======-->



<section class="about-intro-video section-gap soft-blue-bg d-none">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-10">
            <div class="intro-video-with-shape mb-md-gap-50">
                <img src="assets/img/about-intro-thumb.jpg" alt="Image">
                <!-- <a href="#" class="video-popup"><i class="fa fa-arrow-right"></i></a> -->
            </div>
        </div>
        <div class="col-lg-6 col-md-10">
            <div class="feature-text-block">
                <div class="section-title with-right-border mb-20">
                    <span class="title-tag"> BLOCKCHAIN CERTIFICATES </span>
                    <h2 class="title"> Certificates on Blockchain </h2>
                </div>

                <p class="mb-3">

                    The fastest way to get started on Blockchain. Increase TRUST in the authenticity of the Certificates by Creating, Modifying, and Revoking Certificates as required.
                </p>

                <p class="mb-3">
                    We take care of the entire blockchain process for you. Customized look and feel of the Certificates are available. Best of all the entire process is inexpensive and is forever.
                </p>

                <p class="mb-3">
                    Issue Secure, Verifiable, Immutable Certificates using ADM. Everyone authorized can verify the authenticity and validity of the Certificate at any time.
                </p>

              <a class="main-btn mt-30" href="about.html"> Get Started Today &nbsp; <i aria-hidden="true" class="fas fa-angle-double-right"></i> </a>

            </div>
        </div>
    </div>
</div>
</section>



<section class="about-intro-video section-gap soft-blue-bg1 d-none">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-6 col-md-10">
                <div class="feature-text-block">
                    <div class="section-title with-right-border mb-20">
                        <span class="title-tag"> BAAS  </span>
                        <h2 class="title"> Blockchain As A Service </h2>
                    </div>


                    <ul class="list">
                        <li> Enterprise Ready – Scalable, Secure, and Tested Platform for Rapid Prototyping and easy Production Deployment </li>
                        <li> Accelerate and innovate your Blockchain with ease. </li>
                        <li> Save time and reduce costs deploying your Blockchain apps, smart contracts, and functions faster and better. Use our Cloud or BYOC (Bring your own cloud). </li>
                        <li> Create a consortium by inviting your partners </li>
                        <li> Developer Friendly Platform </li>
                        <li> Integrate using our API’s </li>
                    </ul>

                  <a class="main-btn mt-30 mbtn" href="about.html"> Book a Free Consultation &nbsp; <i aria-hidden="true" class="fas fa-angle-double-right"></i> </a>

                </div>
            </div>



            <div class="col-lg-5 col-md-10 offset-md-1">
                <div class="intro-video-with-shape mb-md-gap-50">
                    <img src="assets/img/about-intro-thumb2.jpg" class="mt-5" alt="Image">
                    <!-- <a href="#" class="video-popup"><i class="fa fa-arrow-right"></i></a> -->
                </div>
            </div>


        </div>
    </div>
</section>


<section class="intro-video-area  section-gap soft-blue-bg">
  <div class="container mt-4">
      <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 col-md-10 wow fadeInRight" data-wow-delay="0.3s">
              <div class="intro-thumb mt-md-gap-60">
                  <img src="assets/img/intro-thumb.jpg" alt="">
                  <a class="video-popup" href="#"><i class="fa fa-arrow-right"></i></a>
              </div>
          </div>

          <div class="col-lg-6">
              <h2 class="title- headings" style="font-size: 46px; color: #00adef;">  Oracle Retail Suite </h2>
              <p> Together, Oracle and MICROS will help retailers to accelerate innovation, transform their businesses, and delight customers with complete, open and integrated solutions.</p>

          </div>
      </div>
  </div>
  <div class="container mt-4">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-6">
        <h2 class="title- headings" style="font-size: 46px; color: #00adef;">   Oracle Retail X-store POS </h2>
        <p> Oracle Retail Xstore Point-of-Service makes it easy for employees to connect with Customers while processing their requests quickly.</p>

    </div>
        <div class="col-lg-6 col-md-10 wow fadeInRight" data-wow-delay="0.3s">
            <div class="intro-thumb mt-md-gap-60">
                <img src="assets/img/intro-thumb.jpg" alt="">
                <a class="video-popup" href="#"><i class="fa fa-arrow-right"></i></a>
            </div>
        </div>


    </div>
</div>

<div class="container mt-4">
  <div class="row align-items-center justify-content-center">

      <div class="col-lg-6 col-md-10 wow fadeInRight" data-wow-delay="0.3s">
          <div class="intro-thumb mt-md-gap-60">
              <img src="assets/img/intro-thumb.jpg" alt="">
              <a class="video-popup" href="#"><i class="fa fa-arrow-right"></i></a>
          </div>
      </div>
      <div class="col-lg-6">
        <h2 class="title- headings" style="font-size: 46px; color: #00adef;">   DevOps Solutions </h2>
        <p>   DevOps describes a culture and set of processes that bring development and operations teams together to complete software development.   </p>

    </div>

  </div>
</div>
<div class="container mt-4">
  <div class="row align-items-center justify-content-center">
    <div class="col-lg-6">
      <h2 class="title- headings" style="font-size: 46px; color: #00adef;">   ServiceNow Implementation Services </h2>
      <p>  ServiceNow standardizes all information about IT assets and business services through its configuration management database.  </p>

  </div>
      <div class="col-lg-6 col-md-10 wow fadeInRight" data-wow-delay="0.3s">
          <div class="intro-thumb mt-md-gap-60">
              <img src="assets/img/intro-thumb.jpg" alt="">
              <a class="video-popup" href="#"><i class="fa fa-arrow-right"></i></a>
          </div>
      </div>


  </div>
</div>
<div class="container mt-4">
  <div class="row align-items-center justify-content-center">

      <div class="col-lg-6 col-md-10 wow fadeInRight" data-wow-delay="0.3s">
          <div class="intro-thumb mt-md-gap-60">
              <img src="assets/img/intro-thumb.jpg" alt="">
              <a class="video-popup" href="#"><i class="fa fa-arrow-right"></i></a>
          </div>
      </div>
      <div class="col-lg-6">
        <h2 class="title- headings" style="font-size: 46px; color: #00adef;">   AI (Artificial Intelligence) </h2>
        <p>  Artificial intelligence is a technology that is already impacting how users interact with, and are affected by the Internet. </p>

    </div>

  </div>
</div>
</section>
<!--
<section class="about-intro-video section-gap soft-blue-bg">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-12 col-md-12">

                <div class="timeline">
                    <div class="timeline-item">
                        <div class="timeline-date">
                            <div>
                              Oracle Retail Suite
                            </div>
                        </div>
                        <div class="timeline-content">


                            <p> Together, Oracle and MICROS will help retailers to accelerate innovation, transform their businesses, and delight customers with complete, open and integrated solutions.</p>

                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="timeline-date">
                            <div>
                              Oracle Retail X-store POS
                            </div>
                        </div>
                        <div class="timeline-content">

                            <p>   Oracle Retail Xstore Point-of-Service makes it easy for employees to connect with Customers while processing their requests quickly. </p>

                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="timeline-date">
                            <div>
                              DevOps Solutions
                            </div>
                        </div>
                        <div class="timeline-content">

                            <p>   DevOps describes a culture and set of processes that bring development and operations teams together to complete software development.   </p>

                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="timeline-date">
                            <div>
                              ServiceNow Implementation Services
                            </div>
                        </div>
                        <div class="timeline-content">

                            <p>  ServiceNow standardizes all information about IT assets and business services through its configuration management database.  </p>

                        </div>
                    </div>


                    <div class="timeline-item">
                        <div class="timeline-date">
                            <div>
                              AI (Artificial Intelligence)
                            </div>
                        </div>
                        <div class="timeline-content">

                            <p>  Artificial intelligence is a technology that is already impacting how users interact with, and are affected by the Internet. </p>
                        </div>
                    </div>




                </div>

            </div>

        </div>
    </div>
</section> -->




<section class="call-to-action" style="background-image: url(assets/img/cta-bg/cta-bg.jpg); display: none;">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-12 col-md-12 mb-5">
                <div class="section-title white-color text-center">
                    <!-- <span class="title-tag">CALL TO ACTION</span> -->
                    <h2 class="title" style="font-weight: normal;">
                        Experience Smart Contracts for better
                    </h2>
                </div>
            </div>
            <div class="col-auto">
                <a href="#" class="main-btn main-btn-3 rounded-btn mt-md-gap-30 mr-2"> <i class="fa fa-check"></i> Savings </a>
                <a href="#" class="main-btn main-btn-3 rounded-btn mt-md-gap-30 mr-2"> <i class="fa fa-check"></i> Security </a>
                <a href="#" class="main-btn main-btn-3 rounded-btn mt-md-gap-30 mr-2"> <i class="fa fa-check"></i> Trust & Transparency </a>
                <a href="#" class="main-btn main-btn-3 rounded-btn mt-md-gap-30"> <i class="fa fa-check"></i> Speed, Efficiency & Accuracy  </a>
            </div>
        </div>
    </div>
</section>



<section class="faq-section-two soft-blue-bg1 section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-9">
                <div class="intro-video-with-shape mb-md-gap-60">
                    <img src="assets/img/faq.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-7 col-md-10">
                <div class="accordion-four" id="accordionExampleTwo">
                    <div class="card">
                        <div class="card-header" id="headingOne-2">
                            <a class="" href="" data-toggle="collapse" data-target="#collapseOne-2" aria-expanded="true" aria-controls="collapseOne-2"> <i class="fal fa-magic"></i> What are Smart Contracts ?  </a>
                        </div>
                        <div id="collapseOne-2" class="collapse show" aria-labelledby="headingOne-2" data-parent="#accordionExampleTwo">
                            <div class="card-body">
                                <p> Smart Contracts are agreements between two parties in the form of programming code. Blockchain processes these contracts when certain conditions listed are met. </p>
                            </div>
                        </div>
                    </div>
                    <!-- card -->
                    <div class="card">
                        <div class="card-header" id="headingTwo-2">
                            <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseTwo-2" aria-expanded="false" aria-controls="collapseTwo-2"> <i class="fal fa-magic"></i> Speed, efficiency and accuracy ? </a>
                        </div>
                        <div id="collapseTwo-2" class="collapse" aria-labelledby="headingTwo-2" data-parent="#accordionExampleTwo">
                            <div class="card-body">
                                <p> Once a condition is met, the contract is executed immediately. Because smart contracts are digital and automated, there’s no paperwork to process and no time spent reconciling errors that often result from manually filling in documents. </p>
                            </div>
                        </div>
                    </div>
                    <!-- card -->
                    <div class="card">
                        <div class="card-header" id="headingThree-2">
                            <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseThree-2" aria-expanded="false" aria-controls="collapseThree-2"> <i class="fal fa-magic"></i> Trust and transparency ? </a>
                        </div>
                        <div id="collapseThree-2" class="collapse" aria-labelledby="headingThree-2" data-parent="#accordionExampleTwo">
                            <div class="card-body">
                                <p> Because there’s no third party involved, and because encrypted records of transactions are shared across participants, there’s no need to question whether information has been altered for personal benefit. </p>
                            </div>
                        </div>
                    </div>
                    <!-- card -->
                    <div class="card">
                        <div class="card-header" id="headingFour-2">
                            <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseFour-2" aria-expanded="false" aria-controls="collapseFour-2"> <i class="fal fa-magic"></i> Security </a>
                        </div>
                        <div id="collapseFour-2" class="collapse" aria-labelledby="headingFour-2" data-parent="#accordionExampleTwo">
                            <div class="card-body">
                                <p> Blockchain transaction records are encrypted, which makes them very hard to hack. Moreover, because each record is connected to the previous and subsequent records on a distributed ledger, hackers would have to alter the entire chain to change a single record. </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive-2">
                            <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseFive-2" aria-expanded="false" aria-controls="collapseFive-2"> <i class="fal fa-magic"></i> Savings ? </a>
                        </div>
                        <div id="collapseFive-2" class="collapse" aria-labelledby="headingFive-2" data-parent="#accordionExampleTwo">
                            <div class="card-body">
                                <p> Smart contracts remove the need for intermediaries to handle transactions and, by extension, their associated time delays and fees. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
